absl-py==1.3.0
astor==0.8.1
async-timeout==4.0.2
attrs==22.2.0
awscli==1.16.309
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
boto3==1.10.45
botocore==1.13.50
cached-property==1.5.2
certifi==2022.12.7
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==1.2.2
colorama==0.4.6
coverage==7.0.4
cycler==0.11.0
debugpy @ file:///tmp/build/80754af9/debugpy_1637091426235/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
dill==0.3.6
docutils==0.15.2
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
exceptiongroup==1.1.0
fastjsonschema==2.16.2
filelock==3.9.0
-e git+https://github.com/poudel-bibek/flow.git@6ca3582691484825e67f8d4f744045ba99fcbb65#egg=flow
fonttools==4.38.0
funcsigs==1.0.2
future==0.18.2
gast==0.2.2
google-pasta==0.2.0
grpcio==1.51.1
gym==0.14.0
h5py==3.7.0
idna==3.4
imagesize==1.4.1
importlib-metadata==6.0.0
importlib-resources==5.10.2
imutils==0.5.1
iniconfig==2.0.0
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1655369107642/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1651240553635/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1669134318875/work
Jinja2==3.1.2
jmespath==0.10.0
joblib==0.10.3
jsonschema==4.17.3
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1633454794268/work
jupyter_core==4.12.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
lxml==4.4.1
lz4==4.3.2
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.1.0
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
nbformat==5.7.1
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
nose2==0.8.0
numpy==1.18.4
numpydoc==1.5.0
opencv-python==4.7.0.68
opt-einsum==3.3.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1673482170163/work
pandas==0.24.2
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
path==16.6.0
path.py==12.5.0
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.4.0
pkgutil_resolve_name==1.3.10
plotly==2.4.0
pluggy==1.0.0
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1670414775770/work
protobuf==4.21.12
psutil==5.9.4
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pyasn1==0.5.0rc2
pyglet==1.3.2
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1672682006896/work
pyparsing==3.0.9
PyPrind==2.11.2
pyrsistent==0.19.3
pytest==7.2.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz==2022.7
PyYAML==6.0
pyzmq==19.0.2
ray==0.8.0
redis==4.4.1
requests==2.28.1
rsa==3.4.2
s3transfer==0.2.1
scipy==1.1.0
seaborn==0.9.0
setproctitle==1.3.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
snowballstemmer==2.2.0
Sphinx==6.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sumotools @ https://akreidieh.s3.amazonaws.com/sumo/flow-0.4.0/sumotools-0.4.0-py3-none-any.whl
tabulate==0.9.0
tensorboard==1.15.0
tensorboardX==2.5.1
tensorflow==1.15.2
tensorflow-estimator==1.15.1
termcolor==2.2.0
tomli==2.0.1
torch==1.4.0
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1648827244717/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1675110562325/work
typing_extensions==4.4.0
urllib3==1.25.11
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
Werkzeug==2.2.2
wrapt==1.14.1
zipp==3.11.0
